# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [30]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [31]:
# Run this code:

pokemon = pd.read_csv('/Users/bene/Downloads/pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [32]:
# Your code here:

pokemon[pokemon["Legendary"] == True].head(10)

,Unnamed: 0,Unnamed: 0.1,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
156,156,156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,0.850000,Ice-Flying
157,157,157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,1.058824,Electric-Flying
158,158,158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,1.111111,Fire-Flying
162,162,162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,1.222222,Psychic
163,163,163,150,Mega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True,1.900000,Psychic-Fighting
164,164,164,150,Mega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True,2.142857,Psychic
262,262,262,243,Raikou,Electric,NaN,580,90,85,75,115,100,115,2,True,1.133333,Electric
263,263,263,244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True,1.352941,Fire
264,264,264,245,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True,0.652174,Water
269,269,269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,0.692308,Psychic-Flying

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [33]:
# Your code here:

pokemon["Legendary"].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [34]:
# Your code here:
legendary = pokemon["Total"][pokemon["Legendary"] == True]
mean_legendary = legendary.mean()

not_legendary = pokemon["Total"][pokemon["Legendary"] == False]
mean_not_legendary = not_legendary.mean()

mean_legendary, mean_not_legendary

(637.3846153846154, 417.21360544217686)

In [35]:
std_legendary = pokemon["Total"][pokemon["Legendary"] == True].std()
std_not_legendary = pokemon["Total"][pokemon["Legendary"] == False].std()

std_legendary, std_not_legendary

(60.93738905315346, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [59]:
# Your code here:
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp

ttest_ind(legendary, not_legendary, equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [6]:
# Your conclusions here:

# p is very small and smaller than alpha --> hypothesis h0 rejected

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [40]:
# Your code here:
pokemon["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [48]:
# Your code here:
water = pokemon["Total"][pokemon["Type 1"] == "Water"]
water_mean = water.mean()

non_water = pokemon["Total"][pokemon["Type 1"] != "Water"]
non_water_mean = non_water.mean()

water_mean, non_water_mean

(430.45535714285717, 435.85901162790697)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [53]:
# Your code here:

ttest_ind(water, non_water, equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [10]:
# Your conclusions here:
# The means are close : the type has no effect on total

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [56]:
# Your code here:
attack = pokemon["Attack"]
defense = pokemon["Defense"]

ttest_rel(attack, defense)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
# The two means are not close : whether a pokemon is or is not legendary affects his total

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [58]:
# Your code here:
sp_attack = pokemon["Sp. Atk"]
sp_defense = pokemon["Sp. Def"]

ttest_rel(sp_attack, sp_defense)

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# The two means are close :

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [67]:
# Your code here:
attack = pokemon["Attack"]
defense = pokemon["Defense"]

diff = np.abs(attack-defense)

ttest_1samp(diff, 0)

Ttest_1sampResult(statistic=30.04470423106039, pvalue=2.6242767452970975e-133)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: