## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [28]:
# Your code here
integers = [i for i in range(101)]
sample_list_1 = random.sample(integers, 80)
print(sample_list_1)

[65, 45, 84, 88, 55, 64, 73, 17, 63, 72, 81, 66, 9, 26, 36, 28, 74, 3, 27, 62, 53, 14, 76, 43, 58, 6, 50, 21, 18, 70, 33, 56, 68, 61, 83, 57, 4, 7, 93, 22, 85, 97, 78, 90, 23, 1, 12, 10, 25, 51, 86, 24, 15, 75, 31, 42, 49, 29, 37, 89, 87, 71, 32, 5, 82, 13, 100, 98, 59, 52, 20, 54, 30, 11, 48, 67, 95, 41, 38, 80]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print(set1)

{0, 1, 2, 4, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 99, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [29]:
# Your code here
sample_list_2 = []
for i in range(81):
    p = random.randint(0, 100)
    sample_list_2.append(p)
    
print(sample_list_2)

[18, 78, 88, 41, 52, 13, 55, 79, 59, 100, 76, 25, 20, 10, 66, 4, 55, 35, 76, 88, 28, 50, 14, 90, 58, 2, 85, 42, 15, 74, 23, 32, 18, 2, 50, 7, 13, 40, 48, 21, 33, 86, 23, 2, 97, 66, 2, 95, 23, 44, 92, 78, 20, 17, 17, 28, 73, 16, 36, 92, 75, 97, 33, 100, 97, 80, 32, 57, 60, 16, 2, 94, 74, 6, 59, 79, 43, 14, 29, 20, 7]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(f"The length of the set is {len(set2)}")
# length is different now because sets don't allow for duplicates

{1, 2, 3, 7, 8, 10, 11, 13, 17, 19, 20, 22, 24, 25, 26, 28, 30, 31, 33, 34, 35, 36, 38, 39, 40, 41, 44, 45, 46, 47, 48, 49, 51, 52, 53, 57, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 70, 72, 73, 74, 76, 77, 80, 81, 82, 83, 85, 86, 87, 88, 93, 94, 98, 99, 100}
The length of the set is 65

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
# Your code here
set3 = set()
for element in set1:
    if element not in set2:
        set3.add(element)
print(set3)

{0, 4, 9, 14, 15, 16, 18, 23, 27, 29, 32, 37, 42, 43, 50, 55, 56, 62, 75, 78, 79, 84, 89, 90, 92, 95, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
# Your code here
set4 = set()
for element in set2:
    if element not in set1:
        set4.add(element)
print(set4)

{98, 3, 7, 39, 74, 13, 47, 81, 51, 83, 24, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [18]:
# Your code here
set5 = set()
for element in set1:
    if element in set2:
        set5.add(element)
print(set3)

{0, 4, 9, 14, 15, 16, 18, 23, 27, 29, 32, 37, 42, 43, 50, 55, 56, 62, 75, 78, 79, 84, 89, 90, 92, 95, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [20]:
# Your code here
print(f"Length of set1 : {len(set1)}")
print(f"Length of set2 : {len(set2)}")
print(f"Length of set3 : {len(set3)}")
print(f"Length of set4 : {len(set4)}")
print(f"Length of set5 : {len(set5)}")

# lenghts of set 3 and set 5 summed are the length of set1 
# lenghts of set 4 and set 5 summed are the length of set2

Length of set1 : 80
Length of set2 : 65
Length of set3 : 27
Length of set4 : 12
Length of set5 : 53

#### Create an empty set called `set6`.

In [ ]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [23]:
# Your code here
set6 = set()
set6.update(set3, set5)
print(set6)

{0, 1, 2, 4, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 99, 100}

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here
print(set1 == set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [26]:
# Your code here
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here
union_set = (set3.union(set4)).union(set5)
union_set2 = set1.union(set2)

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [2]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set1 = {0, 1, 2, 4, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 78, 79, 80, 82, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 99, 100}

for element in list_to_remove:
    if element in set1:
        set1.remove(element)
    
print(set1)

{0, 2, 4, 8, 10, 14, 15, 16, 17, 18, 20, 22, 23, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 66, 67, 68, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 100}