In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame([(1,231,"Self-employed","009","High", 2, 30200),
                   (2,765,"students","005","high",3,12700),
                   (3,453,"Horeca","007","medium",5,89400),
                   (4,231,"self-employed","009","high",2,30200),
                   (5,892,"finance","003","low",3,740000),],
                  index=["1", "2", "3", "4", "5"],
columns=("TransactionID","ClientID","Profession","Bank_dep","Risk","Number of credits","Revenue",),
)
df

,TransactionID,ClientID,Profession,Bank_dep,Risk,Number of credits,Revenue
1,1,231,Self-employed,009,High,2,30200
2,2,765,students,005,high,3,12700
3,3,453,Horeca,007,medium,5,89400
4,4,231,self-employed,009,high,2,30200
5,5,892,finance,003,low,3,740000